{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Workify</h1>
        <p class="lead">
            Workify empowers you to navigate career stability with confidence. Our predictive insights reveal job security risks, helping you make informed choices for a resilient future—because in an unpredictable world, knowledge is your strongest ally.
        </p>
        <hr class="my-4">
        <p class="lead">
            {% if user.is_authenticated %}
                <a class="btn btn-primary btn-lg" href="{% url 'layoff_prediction_form' %}" role="button">Predict your Layoff</a>
                <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">Logout</a>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a>
            {% endif %}
        </p>
    </div>

{% endblock content %}